<div class="container mx-auto px-24 py-24 object-center">
  <div class="text-center text-6xl text-bold p-8">
    <span>No results &#129488;</span>
  </div>

  <div class="text-center text-xl p-4">
    Try searching again.
  </div>
</div>
