<div class="container mx-auto px-24 pt-4 pb-2">
  <div class="container mx-auto text-right">
    <%= form_with url: user_root_path(current_user.nickname), method: :get, local: true do |form| %>
      <%= form.text_field :query, placeholder: 'Search for repos', class: 'border-2 border-blue-200 rounded-md p-1' %>
      <%= form.submit 'Search', class: 'border-2 border-gray-500 hover:bg-gray-300 hover:text-black text-gray-100 bg-gray-500 w-34 p-1 rounded-md' %>
    <% end %>
  </div>
</div>
