---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Homebrew/brew/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ba942c7cc81cee778374d2edf3c6230ec27d9e61b546f2f5fdb24993da6b636c"
      Last-Modified:
      - Thu, 01 Jan 1970 00:00:00 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1611779168'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/Homebrew/brew/releases/36958519","assets_url":"https://api.github.com/repos/Homebrew/brew/releases/36958519/assets","upload_url":"https://uploads.github.com/repos/Homebrew/brew/releases/36958519/assets{?name,label}","html_url":"https://github.com/Homebrew/brew/releases/tag/2.7.6","id":36958519,"author":{"login":"MikeMcQuaid","id":125011,"node_id":"MDQ6VXNlcjEyNTAxMQ==","avatar_url":"https://avatars.githubusercontent.com/u/125011?v=4","gravatar_id":"","url":"https://api.github.com/users/MikeMcQuaid","html_url":"https://github.com/MikeMcQuaid","followers_url":"https://api.github.com/users/MikeMcQuaid/followers","following_url":"https://api.github.com/users/MikeMcQuaid/following{/other_user}","gists_url":"https://api.github.com/users/MikeMcQuaid/gists{/gist_id}","starred_url":"https://api.github.com/users/MikeMcQuaid/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MikeMcQuaid/subscriptions","organizations_url":"https://api.github.com/users/MikeMcQuaid/orgs","repos_url":"https://api.github.com/users/MikeMcQuaid/repos","events_url":"https://api.github.com/users/MikeMcQuaid/events{/privacy}","received_events_url":"https://api.github.com/users/MikeMcQuaid/received_events","type":"User","site_admin":true},"node_id":"MDc6UmVsZWFzZTM2OTU4NTE5","tag_name":"2.7.6","target_commitish":"master","name":"2.7.6","draft":false,"prerelease":false,"created_at":"2021-01-27T08:55:10Z","published_at":"2021-01-27T11:34:04Z","assets":[],"tarball_url":"https://api.github.com/repos/Homebrew/brew/tarball/2.7.6","zipball_url":"https://api.github.com/repos/Homebrew/brew/zipball/2.7.6","body":"-
        [ENV.shared: deprecate ncurses_define](https://github.com/Homebrew/brew/pull/10432)
        (@iMichka)\r\n- [build(deps): bump codecov from 0.4.0 to 0.4.1 in /Library/Homebrew](https://github.com/Homebrew/brew/pull/10436)
        (@Homebrew)\r\n- [named_args_spec: add tests for unreadable formulae/casks](https://github.com/Homebrew/brew/pull/10422)
        (@SeekingMeaning)\r\n- [Adjustments for message output](https://[...]
