---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/adoug/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdf91cac2e40035c2bdace813552121c242b5688907d5f19d2c598d6637e0adc"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1607739959'
      X-Ratelimit-Used:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1574163,"node_id":"MDEwOlJlcG9zaXRvcnkxNTc0MTYz","name":"jsviews","full_name":"BorisMoore/jsviews","private":false,"owner":{"login":"BorisMoore","id":202658,"node_id":"MDQ6VXNlcjIwMjY1OA==","avatar_url":"https://avatars3.githubusercontent.com/u/202658?v=4","gravatar_id":"","url":"https://api.github.com/users/BorisMoore","html_url":"https://github.com/BorisMoore","followers_url":"https://api.github.com/users/BorisMoore/followers","following_url":"https://api.github.com/users/BorisMoore/following{/other_user}","gists_url":"https://api.github.com/users/BorisMoore/gists{/gist_id}","starred_url":"https://api.github.com/users/BorisMoore/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BorisMoore/subscriptions","organizations_url":"https://api.github.com/users/BorisMoore/orgs","repos_url":"https://api.github.com/users/BorisMoore/repos","events_url":"https://api.github.com/users/BorisMoore/events{/privacy}","received_events_url":"https://api.github.com/users/BorisMoore/received_events","type":"User","site_admin":false},"html_url":"https://github.com/BorisMoore/jsviews","description":"Interactive
        data-driven views, MVVM and MVP, built on top of JsRender templates","fork":false,"url":"https://api.github.com/repos/BorisMoore/jsviews","forks_url":"https://api.github.com/repos/BorisMoore/jsviews/forks","keys_url":"https://api.github.com/repos/BorisMoore/jsviews/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BorisMoore/jsviews/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BorisMoore/jsviews/teams","hooks_url":"https://api.github.com/repos/BorisMoore/jsviews/hooks","issue_events_url":"https://api.github.com/repos/BorisMoore/jsviews/issues/events{/number}","events_url":"https://api.github.com/repos/BorisMoore/jsviews/events","assignees_url":"https://api.github.com/repos/BorisMoore/jsviews/assignees{/user}","branches_url":"https://api.github.com/repos/BorisMoore/jsviews/branches{/branch}","tags_url":"https://api.github.com/repos/BorisMoore/jsviews/tags","blobs_url":"https://api.github.com/repos/BorisMoore/jsviews/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BorisMoore/jsviews/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BorisMoore/jsviews/git/refs{/sha}","trees_url":"https://api.github.com/repos/BorisMoore/jsviews/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BorisMoore/jsviews/statuses/{sha}","languages_url":"https://api.github.com/repos/BorisMoore/jsviews/languages","stargazers_url":"https://api.github.com/repos/BorisMoore/jsviews/stargazers","contributors_url":"https://api.github.com/repos/BorisMoore/jsviews/contributors","subscribers_url":"https://api.github.com/repos/BorisMoore/jsviews/subscribers","subscription_url":"https://api.github.com/repos/BorisMoore/jsviews/subscription","commits_url":"https://api.github.com/repos/BorisMoore/jsviews/commits{/sha}","git_commits_url":"https://api.github.com/repos/BorisMoore/jsviews/git/commits{/sha}","comments_url":"https://api.github.com/repos/BorisMoore/jsviews/comments{/number}","issue_comment_url":"https://api.github.com/repos/BorisMoore/jsviews/issues/comments{/number}","contents_url":"https://api.github.com/repos/BorisMoore/jsviews/contents/{+path}","compare_url":"https://api.github.com/repos/BorisMoore/jsviews/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BorisMoore/jsviews/merges","archive_url":"https://api.github.com/repos/BorisMoore/jsviews/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BorisMoore/jsviews/downloads","issues_url":"https://api.github.com/repos/BorisMoore/jsviews/issues{/number}","pulls_url":"https://api.github.com/repos/BorisMoore/jsviews/pulls{/number}","milestones_url":"https://api.github.com/repos/BorisMoore/jsviews/milestones{/number}","notifications_url":"https://api.github.com/repos/BorisMoore/jsviews/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BorisMoore/jsviews/labels{/name}","releases_url":"https://api.github.com/repos/BorisMoore/jsviews/releases{/id}","deployments_url":"https://api.github.com/repos/BorisMoore/jsviews/deployments","created_at":"2011-04-05T21:22:26Z","updated_at":"2020-12-05T05:07:37Z","pushed_at":"2020-12-05T18:14:02Z","git_url":"git://github.com/BorisMoore/jsviews.git","ssh_url":"git@github.com:BorisMoore/jsviews.git","clone_url":"https://github.com/BorisMoore/jsviews.git","svn_url":"https://github.com/BorisMoore/jsviews","homepage":"http://www.jsviews.com/#jsviews","size":34410,"stargazers_count":840,"watchers_count":840,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":137,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"other","name":"Other","spdx_id":"NOASSERTION","url":null,"node_id":"MDc6TGljZW5zZTA="},"forks":137,"open_issues":1,"watchers":840,"default_branch":"master"},{"id":97556265,"node_id":"MDEwOlJlcG9zaXRvcnk5NzU1NjI2NQ==","name":"catboost","full_name":"catboost/catboost","private":false,"owner":{"login":"catboost","id":29043415,"node_id":"MDEyOk9yZ2FuaXphdGlvbjI5MDQzNDE1","avatar_url":"https://avatars3.githubusercontent.com/u/29043415?v=4","gravatar_id":"","url":"https://api.github.com/users/catboost","html_url":"https://github.com/catboost","followers_url":"https://api.github.com/users/catboost/followers","following_url":"https://api.github.co[...]
