<div class="mx-auto bg-gray-700 p-4 object-center">
  <div class="container mx-auto p-2">
    <div>
      <div class="text-center text-4xl text-bold text-gray-200 p-2">
        Contributing
      </div>

      <div class="text-center text-lg text-gray-200 p-2">
        GithubBuddy is an open source project. You can find it 
        <span class="text-pink-400">
          <%= link_to 'hosted on GitHub', 'https://github.com/taphill/githubbuddy' %>.
        </span> 
      </div>

      <div class="text-center text-lg text-gray-200 p-2">
        If you find a bug please 
        <span class="text-pink-400">
          <%= link_to 'open an issue', 'https://github.com/taphill/githubbuddy/issues' %>.
        </span> 

        If you have an idea for a new feature
        <span class="text-pink-400">
          <%= link_to 'start a discussion', 'https://github.com/taphill/githubbuddy/discussions' %>.
        </span> 
      </div>
    </div>
  </div>
</div>
