<div class="w-full text-center border-t border-gray-800 p-2 pin-b bg-gray-800">
  <div class="text-gray-200">
    Designed and created by 
    <span class="text-gray-400">
      <%= link_to 'Taylor Phillips', 'https://github.com/taphill' %>
    </span>
  </div>
</div>
