<div class="mx-auto bg-white p-5 shadow-lg">
  <nav class="flex justify-between items-center">

    <div>
      <ul class="flex flex-row">
        <li class="pr-5">
          <h2>GithubBuddy</h2>
        </li>
        <li class="pr-5">
          <%= link_to 'GitHub', 'https://github.com/taphill/githubbuddy' %>
        </li>
      </ul>
    </div>

    <div class="relative inline-block">
      <% if current_user %>
        <%= image_tag(current_user.image, class: 'inline-block object-cover w-12 h-12 rounded-full') %>
      <% else %>
        <%= link_to 'auth/github', method: :post do %>
          <div class="border-2 border-pink-500 hover:bg-pink-200 text-center w-48 px-4 py-2 rounded-2xl">
            Sign in
          </div>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>
<br>
